.kw-icon-dark {
  fill: $color-font-dark;

  &--interactive:hover {
    fill: $color-font-dark-hover;
  }
}

.kw-icon-light {
  fill: $color-font-light;

  &--interactive:hover {
    fill: $color-font-light-hover;
  }
}

.kw-icon-xl, .kw-icon-xl > svg {
  width: $font-size-xl;
  height: $font-size-xl;
}
