@font-face {
  font-family: 'Bitter';
  src: url('../bold/Bitter-Bold.woff2') format('woff2'),
      url('../bold/Bitter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bitter';
  src: url('../regular/Bitter-Regular.woff2') format('woff2'),
      url('../regular/Bitter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bitter';
  src: url('../semi-bold/Bitter-SemiBold.woff2') format('woff2'),
      url('../semi-bold/Bitter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  src: url('../semi-bold/Caveat-SemiBold.woff2') format('woff2'),
      url('../semi-bold/Caveat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  src: url('../bold/Caveat-Bold.woff2') format('woff2'),
      url('../bold/Caveat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  src: url('../regular/Caveat-Regular.woff2') format('woff2'),
      url('../regular/Caveat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../semi-bold/RedHatDisplay-SemiBold.woff2') format('woff2'),
      url('../semi-bold/RedHatDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../bold/RedHatDisplay-Bold.woff2') format('woff2'),
      url('../bold/RedHatDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../regular/RedHatDisplay-Regular.woff2') format('woff2'),
      url('../regular/RedHatDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

