<div class="kw-hdr">
  <header>
    <h1>kwisr.</h1>

    <!-- TODO: replace with logo -->
    <div class="kw-hdr__logo">
      <span>kwisr.</span>
    </div>

    <div class="kw-hdr__nav">
      <a
        href="#"
        class="kw-hdr__nav-login"
        aria-label="Navigeer naar de login pagina">
        <span>Login</span>
        <svg-icon src="assets/icons/login.svg" [class]="'kw-icon-xl kw-icon-blue'"></svg-icon>
      </a>
      <kw-site-menu></kw-site-menu>
    </div>
    
  </header>
</div>
