@import 'abstracts/variables';
@import 'base/general';

.site-menu {
  &-nav {
    display: none;
    position: fixed;
    top: 0;
    right: -75vw;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 999;

    &:target {
      display: block;
      right: 0;
      outline: none;

      & .site-menu-close {
        z-index: 1001;
      }

      & ul {
        position: relative;
        z-index: 1000;
      }

      + .site-menu-backdrop {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-bgr-dark-transparent;
        cursor: default;
        z-index: 998;
      }
    }

    &--accent {
      @include general-accent-link;
    }

    & ul {
      display: flex;
      flex-flow: column;
      row-gap: 2rem;
      place-items: center;
      min-height: 100%;
      width: 75vw;
      background-color: $color-bgr-dark;
      list-style: none;
      margin: 0;
      padding-top: 8rem;
    }

    & li a {
      @include general-accent-font;
      display: block;
      font-size: $font-size-l;
      color: $color-font-light;

      &:hover, &:focus {
        color: $color-font-light-hover;
      }
    }
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: $color-font-light;

    &:hover, &:focus {
      color: $color-font-light-hover;
    }
  }
}

///////////
// MEDIA QUERIES
///////////
@media only screen and (min-width: $medium-screen) {
  .site-menu {
    &-nav {
      position: static;
      display: block;

      & ul {
        flex-flow: row wrap;
        column-gap: 3vw;
        width: auto;
        height: auto;
        background: none;
        overflow: hidden;
        padding: 0;
      }

      & li a {
        font-size: $font-size-md;
        color: $color-font-dark;

        &:hover, &:active, &:focus {
          color: $color-font-dark-hover;
        }
      }
    }

    &-toggle {
      display: none;
    }

    &-close {
      display: none;
    }
  }

}
