a, body, p, span {
  font-family: $font-family-default, $font-family-default-fallback;
  font-size: $font-size-md;
  color: $color-font-dark;
}

body {
  background-color: $color-bgr-light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings, $font-family-headings-fallback;
}

a {
  text-decoration: none;

  &:hover, &:focus {
    color: $color-font-dark-hover;
    text-decoration: underline;
    cursor: pointer;
  }

  &:active {
    color: $color-accent;
  }
}
