body, p, span {
  font-family: $font-family-default, $font-family-default-fallback;
  color: $color-font-dark;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings, $font-family-headings-fallback;
}
